.list-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(12, 35, 64, .75);    
    padding: 2vh 2vw;
    width: 86vw;
    margin: 1vh auto;
    align-items: center;
}

.email-list-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.email-list-container::-webkit-scrollbar {
    display: none;
}

.email-title {
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
}

.email-recipient {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(12, 35, 64);
    padding: 5px;
    margin-left: 10px;
    border-radius: 12px;
}

.recipient-name {
    white-space: nowrap;
}

.remove-recipient {
    padding-left: 10px;
    font-family: sans-serif;
}

.remove-recipient:hover {
    cursor: pointer;
}