.button-container {
    align-content: end;

}
.export-button {
    width: 19vw;
    min-height: 38px;
    background-color: #ae9142;
    color: white;
    border: transparent;
    border-radius: 6px;
    font-family: inherit;
    font-size: 18px;
}

.export-button:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    cursor: pointer;
}

.export-button:active {
    background-color: #a3883d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}