body {
  margin: 0;
  font: sans-serif;
  color: #0C2340;
}

h1 {
  margin: 0 0 0 30px;
  align-items: center;
  font-size: 3em;
}

.navbar {
  height: 10vh;
  border-bottom: 1px solid rgba(12, 35, 64, 0.1);;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h3 {
  margin: 35px 0;
  text-decoration-line: underline;
}